@use '../utils' as *;

/*----------------------------------------*/
/*  DARK LIGHT CSS START
/*----------------------------------------*/

:root {
	--clr-card-shadow: 0 6px 30px rgba(182, 186, 203, 0.3);

	&[bd-theme="bd-theme-dark"] {
		--clr-card-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
		--clr-common-white: #362a2a;
		--clr-common-lightest: #6B7280;
		--clr-common-medium: #E5E7EB;
		--clr-common-dark: #F9FAFB;
		--clr-common-black: #FFFFFF;
		--clr-common-placeholder: #9CA3AF;
		--clr-heading-primary: #F8FAFB;
		--clr-text-body: #E2E8F0;
		--clr-text-label: #94A3B8;
		--clr-text-muted: #64748B;
		--clr-text-taxonomy: #94A3B8;
		--clr-text-secondary: #CBD5E1;
		--clr-bg-primary: #1E293B;
		--clr-bg-secondary: #334155;
		--clr-bg-body: #020617;
		--clr-bg-card: #0F172A;
		--clr-bg-label: #1E293B;
		--clr-bg-light: #334155;

		--clr-border-1: #374151;
		--clr-border-2: #4B5563;
		--clr-border-3: #6B7280;

		--clr-chart-1: #9CA3AF;
		--clr-chart-2: #D1D5DB;

		--clr-footer-1: #6B7280;

		--clr-gradient-1: linear-gradient(90deg, #4C51BF 0%, #2C5282 100%);
		--clr-gradient-2: linear-gradient(90deg, #D53F8C 0%, #B83280 100%);
	}
}


